.modal{
    input[disabled]{
        background-color: white;
        border: none;
        outline: none;
        color: black;
    }
    .hidden-input{
        font-size: 1.6rem;
        background-color: white;
    }
    
}