.u-center-text{text-align:center}
.u-mb-8{margin-bottom: 8rem}

.u-mb-small{ margin-bottom:1.5rem;}
.u-mb-medium{ margin-bottom:4rem;}
.u-mb-big{ margin-bottom:8rem;}

.u-mb-top-big{ margin-top:8rem;}
.u-mb-top-huge{ margin-top:10rem;}